{
    "repositoryUrl": "git@github.com:m0uneer/simple-ecommerce-koa-server.git",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        ["@semantic-release/npm", { "npmPublish": false } ],
        "@semantic-release/git"
    ],
    "branches": [
        "master"
    ]
}
